<html>
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.js"></script>


</head>
<style>
	[v-cloak] {
				display: none;
			  }
			  
	#app > img {
		position:absolute;	
		top:13em;
		left:16em;
		z-index:500;
		zoom:200%;
		}
	
</style>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">Analytical Owl Assignment</a>
		</div>
		<ul class="nav navbar-nav">
		  <li><a href="/report">Report Page of PostgresSql Database</a></li>
		  <li><a href="/">Home Page</a></li>
		  <li class="active"><a href="/uploads">File Upload Page</a></li>		  
		  <li><a href="https://bitbucket.org/Rsypertjr/slim3/src/master/">Site Git Repo</a></li>
		</ul>
	  </div>
	</nav>
	
	<div id="app" style="position:relative" class="container"> 
		<img v-cloak v-if="seeLoader" src= "./loader.gif" alt="Loader Image"></img>
		<div v-if="!seeLoader" class="jumbotron text-center" style="background-color:lightGrey;border:ridge darkGrey 1.0em">
		 <h1>{{ statement }}</h1>
		  <hr class="my-4">
		  <p>Below you can Upload Files either: 1 at a time, 2 at a time, or Many at a time.</p>
		</div>
		<div v-if="!seeLoader"  style="font-size:2em;background-color:lightBlue;padding:1em;border:solid black 0.125em" class="row">
			<div class="col-lg-3"></div>
				<div class="col-lg-6">		
					<!-- make sure the attribute enctype is set to multipart/form-data -->
					<form  method="post" action="/store" enctype="multipart/form-data">
						<!-- upload of a single file -->
						<p>
							<label>Add file (single): </label><br/>
							<input type="file" name="example1"/>
						</p>

						<!-- multiple input fields for the same input name, use brackets -->
						<p>
							<label>Add files (up to 2): </label><br/>
							<input type="file" name="example2[]"/><br/>
							<input type="file" name="example2[]"/>
						</p>

						<!-- one file input field that allows multiple files to be uploaded, use brackets -->
						<p>
							<label>Add files (multiple): </label><br/>
							<input type="file" name="example3[]" multiple="multiple"/>
						</p>

						<p>
							<input v-on:click="doLoader(event)"  type="submit"/>
						</p>
					</form>	
				</div>
			<div class="col-lg-3"></div>
		</div>		
	</div>
	
	<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>	
//Vue.use(require('vue-chartist'));

// 4. Create and mount the root instance.
// Make sure to inject the router with the router option to make the
// whole app router-aware.

	 this.vue =  new Vue({
			el: '#app',
			props: ['seeLoader'],
			data: function(){
				return	{
					seeLoader : false
				}
			},
		
		methods: {
				
             doLoader: function(event){					
					this.seeLoader  = true;
				 } 					 
			},
		});
</script>
	
	
	
</body>
</html>