<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
		div.jumbotron p {
					position:relative;
					width:70%;
					margin: 3em 15% 0 15%
						}
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">Analytical Owl Assignment</a>
		</div>		
		  <ul class="nav navbar-nav">		
			  <li class="active"><a href="/">Home Page</a></li>
			  <li><a href="http://shrouded-inlet-70480.herokuapp.com/" target="_blank">Heroku Deployment</a></li>
			  <li><a href="/report">Report Page of PostgresSql Database</a></li>
			  <li><a href="/uploads">File Upload Page</a></li>
			  <li><a href="https://bitbucket.org/Rsypertjr/slim3/src/master/">Site Git Repo</a></li>
		  </ul>
	  </div>
</nav>

<div style="font-size:2em" class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
			<div class="jumbotron text-center" style="background-color:lightGrey;border:ridge darkGray 1em">
				<h1>{{ statement }}</h1>
				<p>This Site is a job application assignment for programming position with Analytical Owl.  It utilizes technologies of
				CentOS 7 Linux Distribution, Apache Server, PostgresSQL Database, Slim3 PHP, Twig Templating, Vue JavaScript, Axios Ajax, and others.  The above links 
				are described below:</p>	
			</div>	
			<ul style="position:relative;margin:auto;border:solid darkGrey 0.5em" class="nav nav-pills">
			  <li class="active"><a data-toggle="pill" href="#home">Home Page</a></li>
			  <li><a data-toggle="pill" href="#heroku">Heroku Deployment</a></li>
			  <li><a data-toggle="pill" href="#menu1">Report Page</a></li>
			  <li><a data-toggle="pill" href="#menu2">File Upload Page</a></li>
			</ul>
			<div class="tab-content" style="text-align:center;background-color:lightBlue;margin-top:1em;padding:1em;border:solid black 0.125em">
				  <div id="home" class="tab-pane fade in active">
					<p>You are on Home Page of this Site. See Descriptions of the Other Pages by Clicking on other Tabs.</p>
				  </div>
				  <div id="menu1" class="tab-pane fade">
					<p>Vue Javascript and PostgresSQL are used together to show tables representing Relational Data.  Vue does not externally manipulate 
					the DOM elements, but instead allows DOM elemental structure to be responsive to changes in data.  A Vue controller manipulates DOM content internally and 
					interacts with Slim PHP Controllers to get and send data thru an API to the PostgresSQL database.  Twig is also used for PHP Templating of HTML data.</p>
				  </div>
				  <div id="menu2" class="tab-pane fade">
					<p>Vue Javascript is used to upload a file and send it to temporary storage.  An API Controller can transfer to Permanant storage on the server.  Twig Templating is used for HTML data and conditional looping.</p>
				  </div>
				  <div id="heroku" class="tab-pane fade">
					<p>Deploy to application to Heroku.  I changed the file upload location to the Postgres database instead of the server file system.  This enables this feature
					to work with Heroku deployment.</p>
				  </div>
		    </div>
	</div>
  <div class="col-lg-2"></div>
</div>
</body>
</html>
