<!DOCTYPE html>
<html lang="en">
<head>
  <title>File Update</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">Analytical Owl Assignment</a>
		</div>
		<ul class="nav navbar-nav">
		  <li><a href="/report">Report Page of PostgresSql Database</a></li>
		  <li><a href="/">Home Page</a></li>
		  <li><a href="/uploads">File Upload Page</a></li>		  
		  <li><a href="https://bitbucket.org/Rsypertjr/slim3/src/master/">Site Git Repo</a></li>
		</ul>
	  </div>
</nav>
<div class="jumbotron text-center" style="background-color:lightGrey;margin:2em" >
 <h1>{{ statement }}</h1>
 <hr class="my-4">  
 <p>The Following {{ filenames|length-1 }} File(s) Were Uploaded</p>
{% for filename in filenames %}
 <p>{{ filename }}</p>
{% endfor %} 
</div>

</body>
</html>